{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}

{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
<section id="intro" class="container content-section">
    <div class="row" align="left">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>Selection process</h1>
            <p>
                Thank you for your participation in this round of Let's Get Coffee.
            </p>
            <p>
                Now comes the exciting part when you can select your new student<br>based on similar interests.
            </p>
            <p>
                Please re-enter the following information exactly as you did on the<br>survey last week to gain access to the survey responses of new<br>students in your college and major.
            </p>
            <br>
            <form action="/selection/" method="post">{% csrf_token %}
            {{ form|crispy }}
            <input class='btn btn-default btn-lg' type="submit" value="Submit" />
            </form>
        </div>  
    </div>
</section>
{% endblock %}