{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}
New student survey 
{% endblock %}

<style>
{% block style %}
.business-header {
    height: 400px;
    background: url('{% static "img/NewStudent2.JPG" %}') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.word_count {
    font-size: 0.75;
    color:#a7a9ac;
}
{% endblock %}
</style>

{% block tagline %}
    New Student Survey (Closed currently)
{% endblock tagline %}

{% block content %}
<form action="/newstudent/" method="post">{% csrf_token %}

<section id="intro" class="container content-section">
    <div class="row" align="left">
        <div class="col-lg-8 col-lg-offset-2">
        {% if form.errors %}
        <p class="errorlist" style="font-size: 18px; font-weight: bolder">
        Error: you have incorrectly filled out some part of the survey. Please scroll down to see the red error text.
        </p>
        {% endif %}
        <h3>Let’s Get Coffee uses this survey to pair up you up with an upperclassman for an informal, 30-minute meeting (coffee optional). Your responses to these questions will be shared with upperclassmen in your college/major. You’ll ultimately be selected by one of them to meet up sometime on campus.</h3>
    </div>

    <div class="row" align="left">
        <div class="col-lg-8 col-lg-offset-2">
        <h2>Basic information</h2>
        {{ form|crispy }}
        <p>Your response will only be successfully submitted if you proceed to a thanks page; otherwise, there is an error in your survey responses that must be corrected. Thanks!</p>
        <br>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <input class='btn btn-default btn-lg' type="submit" value="Submit" />
        </div>
    </div>
</section>
</form>
{% endblock %}

<script>
{% block script %}
$(function() {
    //word count
    function wordCount(val){
        return {
            charactersNoSpaces : val.replace(/\s+/g, '').length,
            characters         : val.length,
            words              : val.match(/\S+/g).length,
            lines              : val.split(/\r*\n/).length
        };
    }

    $('label[for*="sa"').append("<span class='word_count'>125 words.</span>");
    $('textarea').keypress(function() {
        var c = wordCount( $(this).val() );
        var sa_id = $(this).attr('id');
        $('label[for="' + sa_id + '"] span.word_count').text("  " + c.words + " words.");
    })

    // remove error when user starts typing
    //deal with input boxes
    var $errordivs = $('div.has-error');
    $errordivs.keypress(function() {
        $(this).removeClass('has-error');
    })
    //deal with radiobuttons
    $errordivs.find('input[type="checkbox"]').click(function() {
        $(this).parents('div.has-error').first().removeClass('has-error');
    });

    //change display of checkboxes that are too long
    $('div.checkbox').css({
        'display': 'inline-block',
    });
    if ($(window).width() > 700) {
        $('div.checkbox').css('width', '30%');
    } else {
        $('div.checkbox').css('width', '100%');
    }  
    $(window).resize(function() {
        if ($(window).width() > 700) {
            $('div.checkbox').css('width', '30%');
        } else {
            $('div.checkbox').css('width', '100%');
        }        
    });
    
    // custom adjustments after crispy_forms
    $('#div_id_school').prepend('<br><h2>Academics</h2><h4>Please select the college and major that you are most strongly considering even if you’re not currently in that program. Be mindful that your upperclassman will likely share your academic selections.</h4>'); 
    $('#div_id_extracurriculars').prepend('<br><h2>Extracurriculars</h2>');
    $('#div_id_career').prepend('<br><h2>Career</h2>');
    $('#div_id_sa1').prepend('<br><h2>Short Answer</h2>');
    $('#div_id_partnering').prepend('<br><h2>One last thing</h2>');

    //make partnering orgs links  
    var $partnering_label = $('#id_partnering_1').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='https://www.facebook.com/cornellalternativebreaks' target=blank></a>" )

    var $partnering_label = $('#id_partnering_2').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='http://www.apogamma.org' target=blank></a>" )

    var $partnering_label = $('#id_partnering_3').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='https://www.facebook.com/cornellbears' target=blank></a>" )

    var $partnering_label = $('#id_partnering_4').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='http://www.cornellcapsu.org/' target=blank></a>" )

    var $partnering_label = $('#id_partnering_5').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='http://www.thecias.org/' target=blank></a>" )

    var $partnering_label = $('#id_partnering_6').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='http://cornelldems.com/' target=blank></a>" )

    var $partnering_label = $('#id_partnering_7').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='http://www.cornellpoliticalunion.org/' target=blank></a>" )

    var $partnering_label = $('#id_partnering_8').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='http://cornellradio.com/' target=blank></a>" )

    var $partnering_label = $('#id_partnering_9').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='http://www.cornellcuabs.com/' target=blank></a>" )

    var $partnering_label = $('#id_partnering_10').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='http://cornelldsp.com/' target=blank></a>" )

    var $partnering_label = $('#id_partnering_11').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='http://cornelleco.weebly.com/' target=blank></a>" )

    var $partnering_label = $('#id_partnering_12').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='http://fortecampuscornell.strikingly.com/' target=blank></a>" )

    var $partnering_label = $('#id_partnering_13').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='http://dos.cornell.edu/fraternity-sorority-life' target=blank></a>" )

    var $partnering_label = $('#id_partnering_14').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='http://dos.cornell.edu/lgbt-resource-center' target=blank></a>" )

    var $partnering_label = $('#id_partnering_15').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='http://cornell.hillel.org/' target=blank></a>" )

    var $partnering_label = $('#id_partnering_16').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='http://www.cornellisu.com/' target=blank></a>" )

    var $partnering_label = $('#id_partnering_17').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='http://www.cornellkapi.com/' target=blank></a>" )

    var $partnering_label = $('#id_partnering_18').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='http://dos.cornell.edu/residential-new-student-programs' target=blank></a>" )

    var $partnering_label = $('#id_partnering_19').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='http://www.phidecornell.com/' target=blank></a>" )

    var $partnering_label = $('#id_partnering_20').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='http://www.slopemedia.org/' target=blank></a>" )

    var $partnering_label = $('#id_partnering_21').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='http://forensics.cornell.edu/' target=blank></a>" )

    var $partnering_label = $('#id_partnering_22').parent();
    $partnering_label.contents().filter(function() {
      return this.nodeType === 3;
    }).wrap( "<a href='http://dos.cornell.edu/residential-new-student-programs/tatkon-center-first-year-students' target=blank></a>" )

}) //end ready
{% endblock script %}
</script>

