{% extends "base.html" %}

{% block tagline %}
    About
{% endblock tagline %}
{% block content %}
         <!-- About Section -->
    <div class='container'>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Founded by a team of sophomore students in the fall of 2013, Let’s Get Coffee seeks to help resolve the perennial question of how to best transition freshmen and transfer students into college life at Cornell University.</h3>
                <h3>As we all know, this transition can be a difficult time for new students trying to find their place at Cornell. Talking to an upperclassman with similar interests, however, we believe can make a world of a difference and set a new student off on the right foot down the path towards success in college.</h3>
                <h3>Our goal at Let’s Get Coffee is to connect new students to upperclassmen with similar interests to provide guidance, create connections, and ultimately strengthen the Cornell community.</h3>
                <br>
                <h2>Executive Board</h2>
                <h3>Andrew Shi</h3>
                <P>Executive Director</P>
                <h3>Kelly Jiang</h3>
                <p>Communications Chair</p>
    <h3>            Sarah Harrison</h3>
    <p>            Finance Chair</p>
    <h3>            Demi Chang</h3>
    <p>            Design Chair</p>
    <h3>            Ruoyan Qin</h3>
    <p>            Web Developer</p>
    <h3>            Jordan Chessin</h3>
    <p>         Transfer Liason<p>
    <h3>            Zach Praiss</h3>
    <p>            Co-Founder, Advisor</p>
    <h3>            Blake Barr</h3>
    <p>            Co-Founder, Advisor</p>
    <h3>            Jimmy Chen</h3>
    <p>             Co-Founder, Advisor</p>
            </div>
        </div>
    </div>
{% endblock content %}

