{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Let's Get Coffee - {% block title %}{% endblock %}</title>
    {% include 'head_css.html' %}

    <style>
    {% block style %}
    .business-header {
    height: 400px;
    background: url('{% static "img/Upperclassmen2.JPG" %}') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    }
    {% endblock %}
    </style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72230259-1', 'auto');
      ga('send', 'pageview');
    </script>
</head>

<body>

    {% include "navbar.html" %}

    {% block header %}
      <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">{% block tagline %}Thank you{% endblock tagline %}</h1>
                </div>
            </div>
        </div>
    </header>
    {% endblock header %}


    {% block content %}
    {% endblock content %}
    

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; letsgetcoffeecornell 2016</p>
        </div>
    </footer>

    {% include 'javascript.html' %}

    <script>
    {% block script %}
        
    {% endblock script %}
    </script>

</body>

</html>
