{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
    Error
{% endblock %}

{% block tagline %}
    Error
{% endblock tagline %}

<style>
{% block style %}
.business-header {
    height: 400px;
    background: url('{% static "img/NewStudent1.jpg" %}') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.steps {
    width: 7em;
    height: 7em;
    margin: 1em;
}
/*.des {
    color: black;
    font-weight: bold;
}*/
{% endblock %}
</style>

{% block content %}
<div class='container'>
    <div class="row" align="left">
            <h3>Sorry, you have encountered an error unbeknownst to our technology team's rigorious testing of the website.</h3>
            <h3>Unforunately, bugs are a part of every website and we will do our best to correct this as soon as possible.</h3>
            <h3>If you have any questions or concerns, please feel free to contact us at <a href="mailto:letsgetcoffee@cornell.edu">letsgetcoffee@cornell.edu</a> or on <a href="http://www.facebook.com/cucampusconnection" target="_blank">Facebook</a>.
            </h3>
        </div>
    </div>
</div>

<div class="clear"></div>
</div>
{% endblock %}