{% extends "base.html" %}

{% block title %}
faq
{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        <h1>Sorry</h1>
        <p>
        	You have already selected your new student.
        </p>
        <p>
        	If you have any questions or concerns, please do not hesitate to contact us at <a href="mailto:letsgetcoffeecornell@gmail.com">letsgetcoffeecornell@gmail.com</a> or on <a href="http://www.facebook.com/cucampusconnection">Facebook</a>.
        </p>
        </div>
    </div>
</section>
{% endblock %}