{% extends "base.html" %}

{% block title %}
faq
{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
<h1>Sorry</h1>
<p>
	You have encountered an error unbeknownst to our technology team's rigorious testing of the website.
</p>
<p>
	Unforunately, bugs are a part of every website and we will do our best to correct this as soon as possible.
</p>
<p>
	Please contact us at <a href="mailto:letsgetcoffeecornell@gmail.com">letsgetcoffeecornell@gmail.com</a> or on <a href="http://www.facebook.com/cucampusconnection">Facebook</a> to report this error.
</p>
</div>
</div>
</section>
{% endblock %}