{% extends "base.html" %}

{% block title %}
faq
{% endblock %}

{% block tagline %}
    Frequently Asked Questions
{% endblock tagline %}

{% block content %}
<div class='container'>
    <div class="row" align="left">
        <div class="col-lg-8 col-lg-offset-2">
            <h3><td><span class="name">What is Let's Get Coffee?</span></td></h3>
            <br>
            <p>
                Let's Get Coffee is a student-run, campus-wide initiative at Cornell University that connects new students to upperclassmen for guidance and advice.
            </p>

            <h3><td><span class="name">Why should I be a part of Let's Get Coffee?</span></td></h3>
            <br>    
            <p>
                For freshmen and transfers: Connecting with a like-minded upperclassmen provides you with the guidance, advice, and opportunities that can set you off on the right foot down the path towards success and self-fulfillment in college.
            </p>
            <p>
                For upperclassmen: You can help guide a new student in their transition to college. You have the unique opportunity to directly make a positive impact on the college career of a new student with similar interests. The guidance and advice that you provide can be a small thing that can make a world of difference for a new student acclimating to campus.
            </p>

            <h3><td><span class="name">What&rsquo;s the level of time commitment needed to participate in this initiative?</span></td></h3>
            <br>    
            <p>
                Once the connection is made, upperclassmen are responsible for reaching out and setting up one 30 minute meeting with their new connection at a public location on campus.
            </p>

            <h3><td><span class="name">Will my connection have the same major as me?</span></td></h3>
            <br>
            <p>
                It is our hope that all connections will each have the same major. However, because we cannot guarantee equal numbers of every major, we have set up the selection process to give upperclassmen access to all the new student responses in their college if there are no more new students in their major.  If there are no more new students remaining in their college, they will then be given access to all new student responses across the seven undergraduate colleges.
            </p>

            <h3><td><span class="name">What about current academic advising programs on campus?</span></td></h3>
            <br>
            <p>
                Let's Get Coffee does not seek to replace these programs, but rather, to supplement them. We believe that more connections is better than less connections and so long as new students are interested in connecting with upperclassmen via our connection platform, we want to be able to provide them with this opportunity.

            <h3><td><span class="name">Will this program run throughout the semester?</span></td></h3>
            <br>
            <p>
                No, Let's Get Coffee will only run at the beginning of every semester. The initiative will then close for the semester after the selection process is complete. We will then re-launch Let's Get Coffee at the beginning of the following semester.
            </p>

            <h3><td><span class="name">What if I miss the survey deadline?</span></td></h3>
            <br>
            <p>
                Unfortunately, you will not be able to participate in this round of Let's Get Coffee. However, you will have another opportunity to participate at the beginning of next semester.
            </p>
            <h3><td><span class="name">How will my connection be made after I have completed the survey?</span></td></h3>
            <br>
            <p>
                For freshmen and transfers: Your survey responses will be made available to upperclassmen in your college and major after the survey period ends. You will then be contacted via email by an upperclassman in your college and major.
            </p>
            <p>
                For upperclassmen: After the new student survey window closes, you will be emailed a link to the selection process, where you will have access to all the survey responses of new students in your college and major. You will then select a new student based on similar interests. Then, it is your responsibility to email your connection to set up a meeting at a public location on campus.
            </p>

            <h3><td><span class="name">When will I be notified who my connection is?</span></td></h3>
            <br>
            <p>
                For freshmen and transfers: After the survey window closes, you will hopefully be contacted within two or three days. Please feel free to contact us if this is not the case.
            </p>
            <p>
                For upperclassmen: Once the survey window closes, you will be sent an email to the selection process, where you can access the new student responses in your college and major and select your new student. Once you have selected a new student, we ask that you immediately email them to set up a meeting at a public location on campus.
            </p>

            <h3><td><span class="name">Can I select more than one freshmen or transfer student?</span></td></h3>
            <br>
            <p>
                No, you may only select one new student.
            </p>

            <h3><td><span class="name">Can I be selected by more than one upperclassmen?</span></td></h3>
            <br>
            <p>
                No, you will only be selected by one. However, you can always participate in the initiative another semester to gain another connection.
            </p>

            <h3><td><span class="name">What if I&rsquo;m undecided on my major?</span></td></h3>
            <br>
            <p>
                Pick the one major you are most strongly considering.
            </p>

            <h3><td><span class="name">What if I am a College Scholar or Interdisciplinary Studies Major?</span></td></h3>
            <br>
            <p>
                Please select the major(s) that you would feel comfortable talking about with your connection.
            </p>
        </div>
    </div>
</div>
{% endblock %}
