{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class='container'>
    <div class="row" align="left">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>Congratulations! You will momentarily receive an email con rming your selection of a new student. Please email your new student as soon as possible to arrange your meeting somewhere on campus.</h3>
            <p> </p>
            <table id="schedule">
                <tr>
                <td><img src='{% static "img/Number1.png" %}' width="120" height="120"/></td><td><h3>Survey</h3><p>New students and upperclassmen complete their respective surveys by the end of Sunday, February 7.</p></td>
                </tr>
                <tr>
                <td><img src='{% static "img/Number2.png" %}' width="120" height="120"/></td><td><h3>Select</h3><p>Emailed the website link on February 8, uppercasslemn select and email their new student no later than February 10.</p></td>
                </tr>
                <tr>
                <td><img src='{% static "img/Number3.png" %}' width="120" height="120"/></td><td><h3>Meet</h3><p>Upperclassmen meet with their new student for at least 30 minutes somewhere on campus.</p></td>
                </tr>
                <tr>
                <td><img src='{% static "img/Number4.png" %}' width="120" height="120"/></td><td><h3>Post</h3><p>Share a photo or testimonial from your meeting to our Facebook page for a chance to win one of our cool awards
.</p></td>
                </tr>
            </table>
<p>
    If you have any questions or concerns, please do not hesitate to contact us at <a href="mailto:letsgetcoffeecornell@gmail.com">letsgetcoffeecornell@gmail.com</a> or on <a href="http://www.facebook.com/cucampusconnection">Facebook</a>.
</p>
</div>
</div>
</div>

{% endblock %}
