{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
    Thank you
{% endblock %}

{% block tagline %}
    Thank You
{% endblock tagline %}

<style>
{% block style %}
.business-header {
    height: 400px;
    background: url('{% static "img/NewStudent1.jpg" %}') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.steps {
    width: 7em;
    height: 7em;
    margin: 1em;
}
/*.des {
    color: black;
    font-weight: bold;
}*/
{% endblock %}
</style>

{% block content %}
<div class='container'>
    <div class="row" align="left">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>Congratulations! You will momentarily receive an email confirming your completion of the new student survey.</h3>
            <h3>Here’s what to expect next in this round of Let’s Get Coffee:</h3>
            <p> </p>
            <table id="schedule">
                <tr>
                <td><img class="steps" src='{% static "img/Number1Checked.png" %}' width="120" height="120"/></td><td><h3>Survey</h3><p class="des"><a href="http://www.letsgetcoffeecornell.com/newstudent">New students</a> and <a href="http://www.letsgetcoffeecornell.com/upperclassman">upperclassmen</a> complete their respective surveys by the end of Sunday, February 12th.</p></td>
                </tr>
                <tr>
                <td><img class="steps" src='{% static "img/Number2.png" %}' width="120" height="120"/></td><td><h3>Select</h3><p class="des">Emailed the website link on February 13th, upperclassmen select and email their new student no later than February 14th.</p></td>
                </tr>
                <tr>
                <td><img class="steps" src='{% static "img/Number3.png" %}' width="120" height="120"/></td><td><h3>Meet</h3><p class="des">Upperclassmen meet with their new student for at least 30 minutes somewhere on campus.</p></td>
                </tr>
                <tr>
                <td><img class="steps" src='{% static "img/Number4.png" %}' width="120" height="120"/></td><td><h3>Post</h3><p class="des">Share a photo or testimonial from your meeting to our <a href="http://www.facebook.com/cucampusconnection" target="_blank">Facebook page</a> for a chance to win one of our cool prizes.</p></td>
                </tr>
            </table>
            <h3>If you have any questions or concerns, please feel free to contact us at <a href="mailto:letsgetcoffee@cornell.edu">letsgetcoffee@cornell.edu</a> or on <a href="http://www.facebook.com/cucampusconnection" target="_blank">Facebook</a>.
            </h3>
        </div>
    </div>
</div>

<div class="clear"></div>
</div>
{% endblock %}