{% extends "base.html" %}

{% block title %}
faq
{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
<div class='container'>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
<h1>Thank you</h1>
<p>
    Congratulations, you have officially selected your new student for this round of CampusConnection. In the coming minutes, you will receive a reminder email with your new student's contact information.
</p>
<p>
    We ask that you take a second now to email your new student using your Cornell email to introduce yourself as his or her upperclassman connection for CampusConnection and to arrange a meeting time at a public place on campus in the coming two weeks.
</p>
<p>
    We hope you make the most of this unique opportunity to answer your new student's questions, offer advice, and connect him or her with other students and organizations on campus.
</p>
<p>
    Thank you for taking the time to participate in this exciting initiative.
</p>
<p>
    If you have any questions or concerns, please do not hesitate to contact us at <a href="mailto:letsgetcoffeecornell@gmail.com">letsgetcoffeecornell@gmail.com</a> or on <a href="http://www.facebook.com/cucampusconnection">Facebook</a>.
</p>
</div>
</div>
</div>
{% endblock %}