{% extends "base.html" %}

{% block title %}
faq
{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
<div class='container'>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
<h1>Sorry</h1>
<p>
    The survey window for this round of Let's Get Coffee is unfortunately already closed. We will re-launch the initiative at the start of the next semester.
</p>
<p>
    If you have any questions or concerns, please do not hesitate to contact us at <a href="mailto:letsgetcoffeecornell@gmail.com">letsgetcoffeecornell@gmail.com</a> or on <a href="http://www.facebook.com/cucampusconnection">Facebook</a>.
</p>
</div>
</div>
</div>
{% endblock %}
